body {
    margin: 0px;
}

.d-flex {
    display: flex;
}

.header-wrap {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.header-icon {
    width: 33px;
}

.header-left {
    padding-top: 14px;
    padding-left: 45px;
    gap: 20px;
}

.header-right {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 45px;
    gap: 20px;
}

.header-left a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.header-left li {
    list-style: none;
}

.header-left ul {
    gap: 28px;
    padding-left: 20px;
    margin: 0px;
    padding-top: 7px;
}


.header-right img {
    width: 30px;
}

.header-right ul {
    gap: 28px;
    margin: 0px;
}

.header-right-nav1 ul {
    padding-top: 7px;
}

.header-right li {
    list-style: none;
}

.header-right a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.header-right-nav2 img {
    padding-left: 0px;
    
}



.header-left ul :hover {
    color: rgb(255, 166, 0);
    border-bottom: solid orange 2px;
    padding-bottom: 16px;
}

.header-right-nav1 ul :hover {
    color: orange;
    padding-bottom: 16px;
    border-bottom: solid orange 2px;
}
.main-img1{
    width: 100%;
}

.main-img1 img {
    width: 100%;
    height: 599px;
    position: relative;
    margin-bottom: -10px;
    
}

.main-img1-text {
    position: absolute;
    color: white;
    top: 250px;
    font-size: xx-large;
    padding-left: 200px;
    line-height: 0.8;
}

.content2-wrap {
    background-color: rgb(223, 223, 223);
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing:border-box;

}

.feature-product {
    padding-top: 90px;
    font-size: xx-large;
    width: 100%;
}

.cont2-list ul {
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: center;
    font-size: 17.5px;
    padding: 20px 0px 0px 0px;
}

.cont2-list a {
    text-decoration: none;
    color: black;
}

.cont2-list li :active {
    color: orange;
    padding-bottom: 16px;
    border-bottom: solid orange 2px;
}

.white-col1 {
    background-color: rgb(255, 255, 255);
    height:100%;
    border-radius: 8px;
    padding: 30px;

}
.main-grey{
    background-color: rgb(223, 223, 223) ;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.grey-col1{
    overflow: hidden;
    border-radius: 7px;
}
.grey-col1 img{
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
    transform:scale(1);
}

.grey-col1 :hover{
    transform: scale(1.01);

}
.grey-col1b{
    justify-content: center;
    padding-top: 50px;
    padding-left: 200px;
    text-align: center;
}
.grey-col1b a{
    text-decoration: none;
    color: black;
}
.grey-row2{
    padding-top: 20px;
    gap: 20px;
    
    
}
.grey-row2-col1{
    background-color:rgb(223, 223, 223) ;
    border-radius: 4px;
    width:25%;
    height:100% ;
    padding-top: 20px;
    text-align: center;
    overflow: hidden;
    
}
.grey-row2-col2{
    background-color:rgb(223, 223, 223) ;
    border-radius: 4px;
    width:25%;
    height:100%;  
    padding-top: 20px;
    text-align: center;
    overflow: hidden;
}
.grey-row2-col3{
    background-color:rgb(223, 223, 223) ;
    border-radius: 4px;
    width: 25%;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    overflow: hidden;
}
.grey-row2-col4{
    background-color:rgb(223, 223, 223) ;
    border-radius: 4px;
    width: 25%;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    overflow: hidden;
}
.grey-row2-col1 img{
    width: 150px;
    height: 150px;
    transition: transform 0.2s ease-in-out;
    transform:scale(1);
}
.grey-row2-col2 img{
    width: 150px;
    height: 150px;
    transition: transform 0.2s ease-in-out;
    transform:scale(1);
}
.grey-row2-col3 img{
    width: 150px;
    height: 150px;
    transition: transform 0.2s ease-in-out;
    transform:scale(1);
}
.grey-row2-col4 img{
    width: 150px;
    height: 150px;
    transition: transform 0.2s ease-in-out;
    transform:scale(1);
}
.grey-row2 h2{
    font-size:17.5px;
}
.grey-row2-col1 img:hover{
    transform: scale(1.05);

}
.grey-row2-col2 img:hover{
    transform: scale(1.05);

}
.grey-row2-col3 img:hover{
    transform: scale(1.05);

}
.grey-row2-col4 img:hover{
    transform: scale(1.05);

}
.white-head{
    padding-top: 80px;
}
.white-3columns{
    
    padding-top: 20px;
    gap: 20px;
    justify-content: space-between;
    
}
.white-col3a{
    background-color: white;
    height: 100%;
    width: 33.3%;
    padding: 18px;
    border-radius: 5px;
    overflow: hidden;
}
.white-col3b{
    background-color: white;
    height: 100%;
    width: 33.3%;
    padding: 18px;
    border-radius: 5px;
    overflow: hidden;
}
.white-col3c{
    background-color: white;
    height: 100%;
    width: 33.3%;
    padding: 18px;
    border-radius: 5px;
    overflow: hidden;
    
}
.white-col3a img{
    height: 100%;
    width:100%;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    transform:scale(1);
}
.white-col3b img{
    height: 100%;
    width:100%;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    transform:scale(1);
}
.white-col3c img{
    height: 100%;
    width:100%;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    transform:scale(1);
    
}
.white-col-p{
    font-size:17px;
    padding-top: 10px;
}
.white-col3a img:hover{
    transform: scale(1.05);
}
.white-col3b img:hover{
    transform: scale(1.05);
}
.white-col3c img:hover{
    transform: scale(1.05);
}
.head-explore{
    padding-top: 75px;
}
.explore-sub{
    justify-content: space-between;
    gap: 30px;
}
.explore-col1{
    background-color: white;
    border-radius: 5px;
}
.explore-col2{
    background-color: white;
    border-radius: 5px;
}
.explore-col3{
    background-color: white;
    border-radius: 5px;
}
.explore-col1 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.explore-col2 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.explore-col3 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.explore-col-p{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
}
.xiaomi{
    padding-top: 80px;
    padding-bottom: 50px;
}
.xiaomi-sub{
justify-content: space-between;
gap: 100px;
text-align: center;
font-size: 19px;
padding-bottom: 80px;
}
.footer-main{
    background-color: rgb(28, 24, 24);
    width:100%;
    height:100% ;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 30px;
}
.footer-sub{
    justify-content: space-between;

}
.footer-sub a{
    text-decoration: none;
    color: grey;
}
.footer-sub ul{
    list-style: none;
    gap: 20px;
}
.footer-ul1 li{
    margin-bottom: 20px;
    
}
.footer-ul2 li{
    margin-bottom: 20px;
    
}
.footer-ul3 li{
    margin-bottom: 20px;
    
}
.footer-ul4 li{
    margin-bottom: 20px;
    
}
.footer-sub li a:hover{
    color: white;
    border-bottom: solid white 2px;
}
.footer-last{
    padding-top: 20px;
    justify-content: space-between;
}
.footer-last a{
    color: white;
    text-decoration: none;
}
.footer-last p a:hover{
    border-bottom: solid white 2px;
}
.footer-ul5 img{
    width: 20px;
    padding-top: 20px;
}



